# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
.virtualenv/
pipenv/

# =========================
# Flask / SQLAlchemy
# =========================
instance/
*.sqlite3
*.db

# =========================
# Flask-Migrate
# =========================
migrations/__pycache__/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / E
